.card {
    width: 400px;
    border: none;
    border-radius: 10px;

    background-color: #fff;
}

.stats {
    background: #f2f5f8 !important;

    color: #000 !important;
}
.articles {
    font-size: 10px;
    color: #a1aab9;
}
.number1 {
    font-weight: 500;
}
.followers {
    font-size: 10px;
    color: #a1aab9;
}
.number2 {
    font-weight: 500;
}
.rating {
    font-size: 10px;
    color: #a1aab9;
}
.number3 {
    font-weight: 500;
}

/* Card dos usuários */
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.card-usuarios {
    width: 280px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #d2e8e3;
    position: relative;
    height: 340px;
}

.upper {
    height: 100px;
}

.upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user {
    position: relative;
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;

    border-radius: 50%;
}

.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.stats-usuarios {
    background-color: #d2e8e3;
}

.stats-usuarios span {
    font-size: 19px;
}

.criarPost {
    background-color: #d2e8e3;
}

@media only screen and (max-width: 1024px) {
    #foto-perfil img {
        display: block;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}
